@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v10/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper_start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/bcg_login.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper_start .wrapper_start-contentBlock {
  width: 50%;
  min-height: 50%;
  min-width: 450px;
  -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left {
  width: 100%;
  background-color: #F8F8F8;
  padding: 0 10px;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .instructions {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 15px;
  font-weight: bold;
  margin-top: 50px;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_inputLogin {
  display: flex;
  justify-content: center;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_inputLogin input {
  width: 50%;
  min-width: 200px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #404040;
  border-bottom: 2px solid #a6a6a6;
  text-align: center;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_inputPassword {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_inputPassword input {
  width: 50%;
  min-width: 200px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #404040;
  border-bottom: 2px solid #a6a6a6;
  text-align: center;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_defaultButton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_defaultButton button {
  padding: 5px;
  border: none;
  border-radius: 50px;
  width: 50%;
  cursor: pointer;
  margin-top: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonSignIn {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonSignIn button {
  padding: 5px;
  border: none;
  border-radius: 50px;
  width: 50%;
  cursor: pointer;
  margin-top: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonSignIn button {
  background-color: #D4AF7B;
  border: 1.5px solid #F8F8F8;
  color: #F8F8F8;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonSignIn button:hover {
  border: 1.5px solid #D4AF7B;
  color: #D4AF7B;
  background-color: #F8F8F8;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonRegister {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonRegister button {
  padding: 5px;
  border: none;
  border-radius: 50px;
  width: 50%;
  cursor: pointer;
  margin-top: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonRegister button {
  background-color: #F8F8F8;
  border: 1.5px solid #5D6F95;
  color: #0A0064;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_buttonRegister button:hover {
  border: 1.5px solid #5D6F95;
  color: #F8F8F8;
  background-color: #5D6F95;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_left .login_regText {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  color: #404040;
  font-weight: bold;
}
.wrapper_start .wrapper_start-contentBlock .contentBlock_right {
  background: url('../img/projectX.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 30%;
  min-width: 200px;
}
.wrapper_reg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #05142B;
}
.wrapper_reg .registration {
  width: 25%;
  min-height: 60%;
  min-width: 350px;
  -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.75);
  background-color: #F8F8F8;
  border-radius: 2px;
}
.wrapper_reg .registration .title_Reg {
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  margin-top: 15px;
  width: 110%;
  padding-top: 10px;
  margin-left: -20px;
  background-color: #5F43E3;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.wrapper_reg .registration .reg-block_triangles {
  display: flex;
  justify-content: space-between;
  width: 110.1%;
  margin-left: -20px;
}
.wrapper_reg .registration .reg-block_triangles .title_left {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 20px 0px 0px 20px;
  border-color: #163ED0 transparent transparent transparent;
}
.wrapper_reg .registration .reg-block_triangles .title_right {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 20px 19px 0px 0px;
  border-color: #163ED0 transparent transparent transparent;
}
.wrapper_reg .registration .registration_input {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.wrapper_reg .registration .registration_input input {
  width: 80%;
  min-width: 200px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #404040;
  border-bottom: 2px solid #a6a6a6;
  text-align: center;
}
.wrapper_reg .registration .registration_buttonRegister {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper_reg .registration .registration_buttonRegister button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  width: 80%;
  cursor: pointer;
  margin-top: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
}
.wrapper_reg .registration .registration_buttonRegister button {
  background-color: #F8F8F8;
  border: 1.5px solid #5D6F95;
  color: #0A0064;
}
.wrapper_reg .registration .registration_buttonRegister button:hover {
  border: 1.5px solid #5D6F95;
  color: #F8F8F8;
  background-color: #5D6F95;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper_students {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper_students .menu {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
  position: sticky;
  top: 0;
  background-color: #dadada;
  width: 100%;
  border-bottom: 2px solid grey;
}
.wrapper_students .menu .menu__inputs {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.wrapper_students .menu .menu__inputs .inputs__wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.wrapper_students .menu .menu__inputs .inputs__wrapper .wrapper__input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #d6d6d6;
}
.wrapper_students .menu .menu__inputs .inputs__wrapper .wrapper__input:focus {
  background-color: white;
}
.wrapper_students .menu .menu__buttons {
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.wrapper_students .menu .menu__buttons .button {
  border-radius: 10px;
  color: cornsilk;
  cursor: pointer;
  border: none;
  background-color: #367ab6;
  width: 100px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.wrapper_students .menu .menu__buttons .button:hover {
  background-color: #156ab4;
}
.wrapper_students .menu .menu__buttons .button__disabled {
  border-radius: 10px;
  color: cornsilk;
  border: none;
  background-color: #505050;
  width: 100px;
  height: 50px;
}
.wrapper_students .table {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.wrapper_students .table .table__dynamic {
  width: 70vw;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
  border-spacing: 0;
}
.wrapper_students .table .table__dynamic .th {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
}
.wrapper_students .table .table__dynamic .th:first-child {
  border-top-left-radius: 15px;
}
.wrapper_students .table .table__dynamic .th:last-child {
  border-top-right-radius: 15px;
  border-right: none;
}
.wrapper_students .table .table__dynamic .tabCell {
  background: #D8E6F3;
  border: 2px solid white;
}
/*# sourceMappingURL=style.css.map */