doctype html
html
    head
        title  studentsList
    body
        ul
            for item in results
                input(type='text' value = item.user_id)
                input(type='text' value = item.fn)
                input(type='text' value = item.ln)
                input(type='text' value = item.age)
                input(type='text' value = item.ht)
                p



