@import "./variables.less";

.wrapper-account {
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100vh;
    
}
.app-account {
    background-color: @mainColor;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
}
.account-inputs {
  
}
.account-inputs__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;

}
.account-inputs__input {
}
.account-buttons {
}
.account-buttons__button {
    margin-top: 5px;
    padding: 10px;
}