

.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @BackgroundMain;
}



.authorization-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__input-section {
    display: flex;
    flex-direction: column;

    & .input-section__error-password,
    & .input-section__error-login{
      color: red;
      font-size: 13px;
      text-align: center;
    }
  }

  &__button-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.input-section {
  height: 70px;

  &__label-login {
  }
  &__input-login {
  }
  &__label-password {
  }
  &__input-password {
  }
}

.button-section {
  height: 70px;

  &__btn-login {
   
  }

  &__btn-registration {
   
  }
}

.label-all {
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}
.input-all {
  width: 150px;
  height: 30px;
}
.btn-all {
  width: 120px;
  height: 30px;
  color: black;
  background: @Primary;
  border: 1px solid black ;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    background: @PLight;
  }
}
#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
//__________________________________modal_window_forgot_password_
#forgot_password{
  margin: 9px;
}
#myBtn {
  color: rgb(23, 2, 26);
  cursor: pointer;
  border: none;
  text-decoration: underline;
}
#myBtn:hover{
  color: @PDark;
}
#Seach_Key_Word {
    position: relative;
    margin: 1%;;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(23, 2, 26);
    /* padding: 12px 16px; */
    font-size: 16px;
    width: 140px;
    height: 46px;
  }
.modal {
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0;
   
    width: 30%;
}
.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
}
.close:hover,
.close:focus {
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.modal-body {
    padding: 2px 16px;
    margin: 0,auto;
}
.modal-footer {
    padding: 2px 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.modal_body_Key_word{
    justify-content: center;
}
.modal_body_login{
    margin: 0 auto;
   
width: 200px; 
}
.modal_body_login p{
     text-align: center 
    
}
#answer {
  text-decoration: none;
  border: none;
  background-color: none;
}